
{% extends 'base/base.html' %}

{% block title %}Listes de Fournisseur{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Acceil</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Acceil</a></li>
                            <li><a href="#">Fournisseur</a></li>
                            <li class="active">Listes</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">Fournisseur  </h4>
            </div>
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th class="serial">#</th>
                                <th>Nom</th>
                                <th>Abrevation</th>
                                <th>Nom Directeur</th>
                                <th>Nif</th>
                                <th>Tel</th>
                                <th>Email</th>
                                <th>Domaine</th>
                                <th>RC</th>
                                <th></th>
                                
                                
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% for Fournisseur in Fournisseur %}
                            <tr>
                                <td class="serial">{{ forloop.counter }}</td>
                                <td>{{Fournisseur.Nom}}</td>
                                <td>{{Fournisseur.Abrevation}}</td>
                                <td>{{Fournisseur.NomDirecteur}}</td>
                                <td>{{Fournisseur.Nif}}</td>
                                <td>{{Fournisseur.Tel}}</td>
                                <td>{{Fournisseur.Email}}</td>
                                <td>{{Fournisseur.Domaine}}</td>
                                <td>{{Fournisseur.RC}}</td>
                                <td class="btn-sm"><a href="{% url 'delFournisseur' Fournisseur.id %}">suprimer</a></td>
                                
                              
                               
                            </tr>
                            {% endfor %}
                            
                            
                        </tbody>
                    </table>
                </div> <!-- /.table-stats -->
            </div>
        </div> <!-- /.card -->
    </div>  <!-- /.col-lg-8 -->

    
</div>
{% endblock content %}